<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
    <ul>
  <li>python</li>
  <li>R</li>
  <li>SQL</li>
  <li>java</li>
  <li>julia</li>
</ul>

Some of the popular languages that Data Scientists use are:
      <ol>
  <li>python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>pandas</li>
  <li>NUMPY</li>
  <li>MATPLOTLIB</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
</tr>
<tr>
   <td>RStudio</td>
</tr>
<tr>
   <td>Jupyter</td>
</tr>
<tr>
   <td>Spyder</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
#this a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

In [18]:
x=200/60
round (x,2)

3.33

<h2>Author</h2>
<p1>Kumar<p1>